// -----------------------------------------------------------------------------
// This file contains all styles related to the progress component.
// -----------------------------------------------------------------------------
.progress {
  border-radius: 100px;
  background-color: var(--border-primary);
  height: 12px;
}

.progress-bar {
  background-color: transparent;
  background-image: linear-gradient(
    44deg,
    $ubuntu-purple-light 20%,
    $ubuntu-orange
  );
}

.device-name .progress-sidebar {
  height: 2px;
  margin-bottom: 13px !important;
}
