---
const { darkSrc, lightSrc, alt } = Astro.props;
---

<div>
  <!--Dark theme image-->
  {!!darkSrc && <img class="d-light-none" src={darkSrc} alt={alt} />}
  <!--Light theme image-->
  {!!lightSrc && <img class="d-dark-none" src={lightSrc} alt={alt} />}
</div>
